<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
				<footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">HRDKOREA Copyright&copy; 2016 All right reserved. 
                            						Human Resources Development Service of Korea.</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
</html>