<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>사원 정보 조회</title>
</head>
<body>
	<div class="container mt-3 w-50">
		<div class="input-group mb-3">
			<span class="input-group-text w-25">사원번호</span>
	  		<input type="text" th:value="${empInfo.employeeId}" class="form-control" readonly>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">이름</span>
	  		<input type="text" th:value="${empInfo.lastName}" class="form-control" readonly>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">이메일</span>
	  		<input type="text" th:value="${empInfo.email}" class="form-control" readonly>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">입사일</span>
	  		<input type="text" th:value="${#dates.format(empInfo.hireDate, 'yyyy-MM-dd')}" class="form-control" readonly>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">업무</span>
	  		<input type="text" th:value="${empInfo.jobId}" class="form-control" readonly>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">급여</span>
	  		<!-- <input type="number" th:value="${empInfo.salary}" class="form-control" readonly> -->
	  		<span class="form-control">[[ ${#numbers.formatInteger(empInfo.salary, 3, 'COMMA')} ]] 달러</span>
		</div>
		<div>
			<button type="button" th:onclick="|location.href='@{/empList}'|" class="btn btn-primary">목록</button>
			<button type="button" th:onclick="|location.href='@{/empUpdate(employeeId=${empInfo.employeeId})}'|" class="btn btn-success">수정</button>
		</div>
	</div>
</body>
</html>