<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>전체</title>
</head>
<body>
<div class="container mt-3">
<div class="mb-3 mt-3">
	<table class="table text-center">
		<thead>
			<tr>
				<th>사원번호</th>
				<th>이름</th>
				<th>입사일자</th>
				<th>업무</th>
			</tr>
		</thead>
		<tbody>
		<!-- tr 자체에 반복문을 사용하기도 하지만 block태그로 주로 사용 -->
			<th:block th:each="empInfo, idxStat : ${empList}">
			<tr th:id="${idxStat.count}"
				th:onclick="|location.href='@{/empInfo(employeeId=${empInfo.employeeId},lastName=${empInfo.lastName})}'|">
				<td th:text="${empInfo.employeeId}" />
				<td>[[ ${empInfo.lastName} ]]</td>
				<td th:text="${#dates.format(empInfo.hireDate, 'yyyy년MM월dd일')}" />
				<td>[[ ${empInfo.jobId} ]]</td>
			</tr>
			</th:block>
		</tbody>
	</table>
</div>
</div>
</body>
</html>