<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>title</title>
</head>
<body>
	<form th:action="@{/deptInsert}" method="post" th:object="${deptVO}" class="container mt-3 w-50">
		<div class="input-group mb-3">
			<span class="input-group-text w-25">부서번호</span>
	  		<input type="text" th:field="*{departmentId}" class="form-control" readonly>
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">부서명</span>
	  		<input type="text" th:field="*{departmentName}" class="form-control">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">매니저번호</span>
	  		<input type="text" th:field="*{managerId}" class="form-control">
		</div>
		<div class="input-group mb-3">
			<span class="input-group-text w-25">지역번호</span>
	  		<input type="text" th:field="*{locationId}" class="form-control">
		</div>
		<div class="input-group mb-3">
			<button type="submit" class="btn btn-primary">부서등록</button>
		</div>
	</form>
</body>
</html>